body {
	background-color: #777;
}
header {
	background-color: #ebebeb;
	color: #777;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neuel', 'Helvetica', 'sans-serif';
	margin-bottom: 10px;
	font-size: 18px;
	padding: 40px;
}
nav {
	background-color: #ebebeb;
	color: #777;
	padding: 40px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neuel', 'Helvetica', 'sans-serif';
	margin-bottom: 20px;
	font-size: 18px;
}
section {
	background-color: #ebebeb;
	color: #777;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neuel', 'Helvetica', 'sans-serif';
	font-size: 18px;
	height: 265px;
	width: 500px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 30px;
}
article {
	background-color: #777;
	color: #ebebeb;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neuel', 'Helvetica', 'sans-serif';
	font-size: 18px;
	height: 180px;
	width: 460px;
	margin-top: 30px;
	margin-left: 25px;
	margin-right: 30px;
	padding-top: 15px;
}
p {
	background-color: #ebebeb;
	color: #777;
	font-family: 'Arial', 'Helvetica Neuel', 'Helvetica', 'sans-serif';
	font-size: 18px;
	height: 45px;
	width: 400px;
	padding-top: 15px;
}
aside {
	background-color: #ebebeb;
	color: #777;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neuel', 'Helvetica', 'sans-serif';
	font-size: 18px;
	height: 265px;
	width: 380px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-top: 30px;
}
.clear {
	clear: both;
	}
footer {
	background-color: #ebebeb;
	color: #777;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neuel', 'Helvetica', 'sans-serif';
	margin-top: 10px;
	font-size: 18px;
	padding: 50px;
}
div {
	width: 900px;
	margin-left: 175px;
}